.navbar {
    position: fixed;
    background-color: skyblue; /* #1f2020 */
    z-index: 9999;
}

.navbarBrand {
    margin-left: 0.5rem;
    color: white;
}

.navbarBrand:visited {
    color: white;
}

.navbarBrand:hover {
    color: black;
}

.navbarToggler {
    color: transparent;
    border: none;
}


.togglerIcon {
    color: white;
}

.navbarCollapse {
    justify-content: flex-end;
    text-align: center;
}

.navbarNav {
}

.navLink {
    color: white;
}

.navLink:visited {
    color: white;
}

.navLink:hover {
    color: black;
}

.navLink:last-child {
    margin-right: 0.5rem;
}

.p {
    margin: 0;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}