.navbar {
    position: fixed;
    background-color: skyblue; /* #1f2020 */
    z-index: 9999;
}

.navbarBrand {
    margin-left: 0.5rem;
    color: white;
}

.navbarBrand:visited {
    color: white;
}

.navbarBrand:hover {
    color: black;
}

.navbarToggler {
    color: transparent;
    border: none;
}

.togglerIcon {
    /* color: white; */
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
    );
}

.togglerIcon:hover {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
    );
}

.navbarCollapse {
    justify-content: flex-end;
    text-align: center;
}

.navbarNav {
}

.navLink {
    color: white;
}

.navLink:visited {
    color: white;
}

.navLink:hover {
    color: black;
}

.navLink:last-child {
    margin-right: 0.5rem;
}

.p {
    margin: 0;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}