* {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}

input[type='radio'] {
    appearance: none;
}

label {
    cursor: pointer;
    border-bottom: 10px solid black;
    opacity: 0.5;
    padding: 30px;
    padding-bottom: 0;
    text-align: center;
    text-wrap: wrap;
    color: white;
}

input[type='radio']:checked + label {
    border-bottom: 10px solid black;
    opacity: 1;
}

input[type='radio']:hover + label {
    border-bottom: 10px solid black;
    opacity: 1;
}

swiper-container {
    padding-top: 10px;
    padding-bottom: 30px;
}

swiper-slide {
    text-align: center;
}

swiper-slide img {
    width: 270px;
    height: 480px;
    border-radius: 10px;
    object-fit: cover;
}

:root {
    --swiper-pagination-bullet-size: 15px;
}
