.h1, .h2 {
    text-wrap: nowrap;
}

.p {
    text-align: justify;
    margin: 0;
}

/* .mainContainer {
    height: 94.1vh;
} */

/* @media screen and (max-height: 900px) {
    .mainContainer {
        height: 150vh;
    }
} */

/* .secContainer {
    gap: 0px;
} */

.li {
    list-style: none;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
} */

.me {
    width: 386px;
    height: 600px;
    /* animation: slideInFromLeft 1s ease-out forwards; */
}

@media screen and (max-width: 500px) {
    .me {
        width: calc(386px / 1.2);
        height: calc(600px / 1.2);
    }
}

.imgContainer {
    flex: 1;
    /* margin-left: 100px; */
}

/* @keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
} */

.descContainer {
    flex: 1;
    /* margin-right: 100px; */
    /* animation: slideInFromRight 1s ease-out backwards; */
}

.ulContainer {
    padding-top: 30px;
    padding-left: 0;
}

.icon {
    font-size: 24px;
    color: white;
}

.icon:hover {
    color: rgb(220, 220, 220, 1);
}
