.h1, .h2 {
    text-wrap: nowrap;
}

.p {
    text-align: justify;
    margin: 0;
}

/* .mainContainer {
    height: 94.1vh;
} */

/* @media screen and (max-height: 900px) {
    .mainContainer {
        height: 150vh;
    }
} */

.secContainer {
    gap: 10px;
}

.li {
    list-style: none;
}

.me {
    width: 386px;
    height: 600px;
}

@media screen and (max-width: 500px) {
    .me {
        width: calc(386px / 1.2);
        height: calc(600px / 1.2);
    }
}

.imgContainer {
    flex: 1;
    margin-left: 100px;
}

.descContainer {
    flex: 1;
    margin-right: 100px;
}

.ulContainer {
    padding-top: 30px;
    padding-left: 0;
}

.icon {
    font-size: 24px;
    color: white;
}

.icon:hover {
    color: rgb(220, 220, 220, 1);
}
