.h1, .h2, .h3 {
    text-wrap: nowrap;
    color: skyblue;
    margin: 0;
}

.h1p {
    text-align: center;
    text-wrap: nowrap;
    color: rgb(30, 30, 30, 1);
    margin: 0;
    font-size: 8rem;
}

.p {
    text-align: justify;
    margin: 0;
}

.mainContainer {
    padding-top: 56px;
}

.ls1 {
    width: 650px;
    height: 600px;
}

.mainSecContainer {
    flex: 1;
}

.gap {
    gap: 30px;
}

.imgContainer1 {
    flex: 1;
}

.projectSwiper {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.swiperSlide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectSwiper img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}