.h1, .h2, .h3 {
    text-wrap: nowrap;
    color: skyblue;
    margin: 0;
}

.h1p {
    text-wrap: nowrap;
    color: skyblue;
    margin: 0;
    font-size: 10rem;
}

.p {
    text-align: justify;
    margin: 0;
}

.mainContainer {
    padding-top: 56px;
}

.ls1 {
    width: 650px;
    height: 600px;
}

.mainSecContainer {
    flex: 1;
}

.gap {
    gap: 30px;
}

.imgContainer1 {
    flex: 1;
}